{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

<!-- Set Page Title -->
{% block title %}
        <title>OzEvent - {{ heading }}</title>
{% endblock %}

<!-- Event Creation Form -->
{% block content %}
    <section>
        <div class="container mt-5 mb-4">
            <div class="row justify-content-center">
                <div class="event-form col-11 col-sm-12 col-md-10 col-lg-8 col-xl-7">
                    <form id="eventCreationForm" method="POST" enctype="multipart/form-data" novalidate>
                        {{ form.hidden_tag() }}
                        <h1 class="form-title pt-2 pb-4 text-center">Create An Event</h1>
                        <div class="form-group row">
                            <div class="col-12">
                                <!-- Event Title -->
                                {{ form.title.label(class="form-label") }}<strong>*</strong>
                                {{ form.title(class="form-control") }}
                            </div>
                        </div>    

                        <div class="form-group row">
                            <div class="col-12">
                                <!-- Artist(s) -->
                                {{ form.artist.label(class="form-label") }}
                                {{ form.artist(class="form-control", id="extraSmallTextArea") }}
                            </div>
                        </div>
                            
                        <div class="form-group row">
                            <div class="col-sm-7">
                                <!-- Cover Image -->
                                {{ form.image.label(class="form-label") }}
                                {{ form.image(class="form-control") }}
                            </div>
                            
                            <div class="col-sm-5">
                                <!-- Genre -->
                                {{ form.genre.label(class="form-label") }}<strong>*</strong>
                                {{ form.genre(class="form-control", id="genre") }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12" id="customGenreField">
                                <!-- Custom Genre -->
                                {{ form.custom_genre.label(class="form-label") }}
                                {{ form.custom_genre(class="form-control") }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <!-- Venue -->
                                {{ form.venue.label(class="form-label") }}<strong>*</strong>
                                {{ form.venue(class="form-control") }}
                            </div>

                            <div class="col-md-6">
                                <!-- Location -->
                                {{ form.location.label(class="form-label") }}<strong>*</strong>
                                {{ form.location(class="form-control") }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- Short Description -->
                            <div class="col-12">
                                {{ form.short_description.label(class="form-label") }}<strong>*</strong>
                                {{ form.short_description(class="form-control", id="smallTextArea") }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- Description -->
                            <div class="col-12">
                                {{ form.description.label(class="form-label") }}<strong>*</strong>
                                {{ form.description(class="form-control", id="largeTextArea") }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- Date -->
                            <div class="col-md-4">
                                {{ form.date.label(class="form-label") }}<strong>*</strong>
                                {{ form.date(class="form-control") }}
                            </div>

                            <!-- Start Time -->
                            <div class="col-6 col-md-4">
                                {{ form.start_time.label(class="form-label") }}<strong>*</strong>
                                {{ form.start_time(class="form-control") }}
                            </div>

                            <!-- End Time -->
                            <div class="col-6 col-md-4">
                                {{ form.end_time.label(class="form-label") }}<strong>*</strong>
                                {{ form.end_time(class="form-control") }}
                            </div>
                        </div> 

                        <!-- Ticketing Section -->
                        <h3 class="form-subtitle pt-3 pb-4 text-center">Ticketing</h3>

                        <!-- Allowing for multiple ticket types per event -->
                        <div id="ticket-table">
                            {% for ticket_form in form.tickets %}
                            <div class="form-group row ticket-row">
                                <!-- Ticket Type -->
                                <div class="col-sm-6">
                                    {{ ticket_form.ticket_type.label(class="form-label") }}<strong>*</strong>
                                    {{ ticket_form.ticket_type(class="form-control") }}
                                </div>

                                <!-- Available Tickets  -->
                                <div class="col-sm-6 col-md-3">
                                    {{ ticket_form.available_tickets.label(class="form-label") }}<strong>*</strong>
                                    {{ ticket_form.available_tickets(class="form-control") }}
                                </div>

                                <!-- Ticket Price -->
                                <div class="col-md-3">
                                    {{ ticket_form.ticket_price.label(class="form-label") }}<strong>*</strong>
                                    {{ ticket_form.ticket_price(class="form-control") }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Add and remove ticket types -->
                        <div class="form-group row justify-content-center pb-4">
                            <div class="col-12 col-md-4 mb-3">
                                <button type="button" class="btn w-100" id="remove-ticket">Remove Ticket Type</button>
                            </div>

                            <div class="col-12 col-md-4 mb-3">
                                <button type="button" class="btn w-100" id="add-ticket">Add Ticket Type</button>
                            </div>                            
                        </div>

                        <!-- Mandatory Fields Disclaimer -->
                        <div class="form-group row mt-3">
                            <div class="col-12 text-center">
                                <small class="fst-italic">
                                    <strong>*</strong> Fields marked with an asterisk are mandatory.
                                </small>
                            </div>
                        </div>

                        <div class="form-group row pt-4 pb-3">
                            <!-- Clear Form Button -->
                            <div class="col-6 d-flex justify-content-center">
                                <button type="reset" class="btn w-100" id="discardEventBtn">Clear Form</button>
                            </div>

                            <!-- Create Now Button -->
                            <div class="col-6 d-flex justify-content-center">
                                {{ form.submit(class="btn w-100", id="createNowBtn") }}
                            </div>
                        </div>
                    </form>    
                </div>
            </div>
        </div>  
    </section>
    <script>
        const container = document.getElementById('ticket-table');
        const addButton = document.getElementById('add-ticket');
        const removeButton = document.getElementById('remove-ticket');

        document.addEventListener('DOMContentLoaded', function() {
            var genreSelect = document.getElementById("genre");
            var customGenreField = document.getElementById("customGenreField");
            function toggleCustomGenre() {
                if (genreSelect.value == "other") {
                    customGenreField.style.display = "block";
                } else {
                    customGenreField.style.display = "none";
                }
            }
            if (genreSelect) {
                genreSelect.addEventListener("change", toggleCustomGenre);
                toggleCustomGenre(); // Call on page load to set correct state
            }
        });

        // Disable button if there is only 1 ticket type
        function updateRemoveButtonState() {
            const ticketRows = container.querySelectorAll('.ticket-row');
            removeButton.disabled = ticketRows.length <= 1;
        }

        // Add another ticket type
        document.getElementById('add-ticket').addEventListener('click', function() {
            let index = container.querySelectorAll('.form-group.row').length;

            // Fetch a blank template from a hidden field or template string
            fetch(`get-ticket-form/${index}`)
                .then(res => res.text())
                .then(html => {
                    container.insertAdjacentHTML('beforeend', html);
                    updateRemoveButtonState();
                });
        });

        // Rempove last ticket type
        document.getElementById('remove-ticket').addEventListener('click', function () {
            let ticketRows = container.querySelectorAll('.ticket-row');

            if (ticketRows.length > 1) {
                ticketRows[ticketRows.length - 1].remove();
                updateRemoveButtonState();
            }
        });

        document.addEventListener('DOMContentLoaded', updateRemoveButtonState);
    </script>
{% endblock %}