<div class="form-group row ticket-row">
    <!-- Ticket Type -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        {{ ticket_form.ticket_type.label(class="form-label") }}<strong>*</strong>
        {{ ticket_form.ticket_type(class="form-control") }}
    </div>

    <!-- Available Tickets  -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        {{ ticket_form.available_tickets.label(class="form-label") }}<strong>*</strong>
        {{ ticket_form.available_tickets(class="form-control") }}
    </div>

    <!-- Ticket Price -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        {{ ticket_form.ticket_price.label(class="form-label") }}<strong>*</strong>
        {{ ticket_form.ticket_price(class="form-control") }}
    </div>
</div> 