{% extends 'base.html' %}

<!-- Setting Page Title -->
{% block title %}
    <title>OzEvent - Manage Events</title>
{% endblock %} 

<!-- Link to stylesheet -->
{% block css %}
        <link rel="stylesheet" type="text/css" href="../../static/style/main.css">
{% endblock %}

<!-- Link to Logo -->
{% block logo %}
        <img src="../../static/img/brand_logo.png" alt="OzEvent Logo" class="d-inline-block align-text-top img-fluid">
{% endblock %}

<!-- Header -->
{% block header %}
        <section>
            <!-- Booking Records -->
            <div class="container mt-4 mb-3">
                <div class="row g-5 justify-content-center">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xxl-8">
                        <h1 class="form-title pill-format mt-2 mb-3 text-center w-100">Manage Events</h1>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

<!-- Main Content -->
{% block content %}
        <section>
            <div class="container mt-4 mb-3">
                <div class="row g-5 justify-content-center">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xxl-8">
                        {% for event in events %}
                        <!-- Need to add in the link for the a href -->
                        <a href="{{url_for('events.manage', id=event.id)}}" class="card text-decoration-none mb-4" id="userBooking">
                            <img src="../..{{event.image}}" class="card-img-top" alt="event-img">
                            <span class="status-bubble bg-{{event.status}}">{{ event.status|upper}}</span>
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-auto text-center">
                                        <h4><strong>{{ event.name }}</strong></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <h6 class="card-subtitle mt-2 mb-1">{{ event.date }}</h6>
                                        <!-- <h6 class="card-subtitle mt-2 mb-1">{{ event.start_time }} - {{ event.end_time }}</h6>  -->
                                         <h6 class="card-subtitle mt-2 mb-1">
                                            {{ event.start_time.strftime('%#I%p')|upper }} - {{ event.end_time.strftime('%#I%p')|upper }}
                                        </h6>
                                        <h6 class="card-subtitle mt-2 mb-1">{{ event.venue }}</h6>
                                        <h6 class="card-subtitle mt-2 mb-1">{{ event.available_tickets }} Tickets Remaining</h6>
                                    </div>
                                    <div class="col-4 text-end">
                                        <h6 class="card-subtitle mt-2 mb-1">{{ event.short_description }}</h6>
                                    </div>
                                </div>
                            </div>  
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
{% endblock %}