{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
    <div class="eventContentContainer">
        <div class="eventHistoryUserContainer">
            <img class="eventCommentUserIcon" src="./static/img/user.png">
            <p class="eventCommentUserText" style="margin: 2px 0px 0px 0px; font-weight: 600;">{{ user.username }}</p>
        </div>
        <p class="eventBookingName" style="margin-bottom: 2vh;">Booking History:</p>
        
        <table class="bookingTable">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    
                    <th>Ticket Genre</th>
                    <th>Ticket Price</th>
                    <th>Num Tickets</th>
                    <th>Booking Date</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.event_id }}</td>
                    <td>{{ booking.ticket_genre }}</td>
                    <td>{{ booking.ticket_price }}</td>
                    <td>{{ booking.num_tickets }}</td>
                    <td>{{ booking.booking_date.strftime('%Y/%m/%d') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
</html>