# Dependencies for OzEvent Web App
bcrypt
blinker
Bootstrap-Flask
click
dnspython
email_validator
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
SQLAlchemy
typing_extensions
Werkzeug
WTForms